<section class="container" id="Alllink" style="padding-left: 4px;min-height: 694px;">
  <div class="container" align="center" style="padding-left: 3px;">
    <div style="height:70px;"></div>

    <div class="container" align="center" style="padding-left: 0px;">
      <div class="row" align="center">
        {{ if .Site.Data.alllink.enable }}
        <div class="col-md-12" align="center" style="margin-bottom: 30px;">
          <h1 class="text-primary" style="color: #32446b; font-family: 'Prompt', sans-serif;margin-top: 10px; ">
            {{.Site.Data.alllink.group }}
          </h1>
        </div>
        {{ range .Site.Data.alllink.items }}
        <div class="col-md-5th-1 col-sm-4 card-1" style="padding-left: 0px;">
          <div align="center" class="magnifyBtn" onclick="window.open({{ .url }} ,'_blank')">
            <div class="card-body cursorPointer">
              <p class="card-text-icon"><a href="{{ .url }}" target="_blank" class="iconLink text-primary"
                  style="color: #32446b;"><i class="fa-5x {{ .icon }}"
                    style="stroke: #878683; stroke-width: 0px; font-size: 6em;"></i></a></p>
              <p class="card-text"><a href="{{ .url }}" target="_blank" class="iconLink text-primary"
                  style="color: #32446b; font-family:Prompt ; font-size: 20px;">{{ .title | safeHTML }}</a></p>
            </div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
    {{ end }}
  </div>

  </div>

</section>