<style>
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 0px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

    .item.list-group-item:nth-of-type(odd):hover,
    .item.list-group-item:hover {
        background: #428bca;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }


    .item.list-group-item:before,
    .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

    .list-group-item-text {
        margin: 0 0 11px;
    }

    .col-xs-6,
    .col-lg-6,
    .col-xs-12,
    .col-lg-12 {
        position: relative;
        display: block;
        padding: 7px 7px;
        margin-bottom: -1px;
    }

    .caption {
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        background-color: #fff;
        padding: 10px 10px;

    }

    .item {
        margin-bottom: 10px;
    }
</style>

<section class="container" id="boardsec" style=" padding-left: 4px; min-height: 694px;">
    <div class="container" align="center" style="padding-left: 3px;">
        <div style="height:100px;"></div>

        <div class="container" align="center" style="padding-left: 0px;">
            <div class="row" style="text-align: center;">
                <h1 class="text-primary"
                    style="color: #32446b; font-family: 'Prompt', sans-serif;margin-bottom: 17.6px;margin-top: 10px; ">
                    ส่วนงานคณะกรรมการ</h1>


                <div id="products" class="row list-group col-xs-12 col-lg-12" style="margin-left: 10px; padding-top: 0px;">
                    <div class="item  col-xs-4 col-lg-4">
                        <div class="caption" style="min-height: 350.25px;">
                            <img class="center" style="height: 105px; width: 150px;"
                                src="{{ .Site.BaseURL }}img/TEAMWO_1.png"></img>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 37px ; font-size: 20px; text-align: center;">
                                การประชุมคณะกรรมการบริษัท
                            </p>
                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/ec53e76ecb/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • กำหนดการประชุมประจำปี
                                </a></div>

                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/ec53e76ecb/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • ระเบียบวาระประชุมประจำปี
                                </a></div>



                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/77979c6d8e/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • แบบฟอร์ม Resume / PPT
                                </a></div>

                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/5b100f0276/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • รายงานการประชุม / สรุปมติการประชุม
                                </a></div>

                        </div>
                    </div>
                    <div class="item  col-xs-4 col-lg-4">
                        <div class="caption" style="min-height: 350.25px;">
                            <img class="center" style="height: 105px; width: 180px;"
                                src="{{ .Site.BaseURL }}img/new.png"></img>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 10px ; font-size: 20px; text-align: center;">
                                การประชุมคณะกรรมการบริหารบริษัท</br>(คบ.บริษัท)
                            </p>
                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/ec53e76ecb/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • กำหนดการประชุมประจำปี
                                </a></div>

                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/ec53e76ecb/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • ระเบียบวาระประชุมประจำปี
                                </a></div>



                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/77979c6d8e/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • แบบฟอร์ม Resume / PPT
                                </a></div>

                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/5b100f0276/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • รายงานการประชุม / สรุปมติการประชุม
                                </a></div>

                        </div>
                    </div>

                    <div class="item  col-xs-4 col-lg-4">

                        <div class="caption" style="min-height: 350.25px;">
                            <img class="center" style="height: 105px; width: 105x;"
                            src="{{ .Site.BaseURL }}img/Untitled-1.png"></img>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 37px ; font-size: 20px; text-align: center;">ข้อมูลที่เกี่ยวข้องกับ สงก.
                            </p>
                         
                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/45a79ca703/"
                                class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • คู่มือของส่วนงานคณะกรรมการ
                            </a></div>
                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/556bb5413d/"
                                class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • กฎ ระเบียบ ข้อบังคับ และ มติ ครม. ที่เกี่ยวข้อง
                            </a></div>


                        </div>
                    </div>

                    <div class="item  col-xs-12 col-lg-12">
                        <div class="caption">
                            <h1 style=" margin-top: 0; font-size: 24px;" class="tarstyle" align="center"><i
                                    class="inline fas fa-bullhorn"
                                    style="margin-right: 15px;margin-left: 10px; "></i>ประกาศ</h1>
                            <div class="magnifyText" style="margin-bottom: 15px ;"><a target="_blank" href="http://seafile1.egati.co.th:8000/d/1be7c45a85/"
                                    class="card-text tarstyle magnifyText" style=" font-size: 16px;">
                                    • กำหนดการประชุม กำหนดแจ้งชื่อและส่งเอกสารประชุม คบ.บริษัท และ BOD ประจำเดือน
                                </a></div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>