<footer class="footer ">
  <div class="container-fluid container" style="padding-top: 10px;">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div >
        <h4 class="h2-nav text-primary" style="color: #32446b; font-family: 'Kanit', sans-serif; margin-top: 20px; display: inline-block; " >บริษัท กฟผ. อินเตอร์เนชั่นแนล จำกัด</h4>
      </div>
    </div>
    

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation">
      <ul class="nav navbar-nav navbar-right"> 
        <li ><h4 class="h2-nav text-primary" style="color:#32446b ; font-family: 'Kanit', sans-serif; margin-top: 20px; display: inline-block; " >จัดทำโดย &ensp;สทอ. &emsp; ติดต่อ โทร 66938</h4></li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</footer>