
<link rel="stylesheet" href="{{ .Site.BaseURL }}css/main.css" />
        <nav class="navbar navbar-fixed-top navbar-dark" style="background-color: #F7D923 ; margin-bottom: 0px;">
          <div class="container-fluid container">
            <div class="navbar-header">
              <div >
                
                <a href="{{ .Site.BaseURL }}"><img src="{{ .Site.BaseURL }}img/biglogo.png" style="height: 50px; width: 50px; float: left; margin-top: 13px;margin-right: 10px; margin-left: -15px;"></a> 
              </div>
            </div>
            <div class="collapse navbar-collapse" id="navigation">
              <ul class="nav navbar-nav navbar-right">
                <li>
                {{ range .Site.Menus.header2 }}
                <li ><a href="{{ .URL }}" class=" magnifyBtn" target="_blank"><p class="p-nav" style="color: #32446b;"> {{ .Name }}</p></a></li>
                {{ end }}

              </ul>
            </div>
          </div>
        </nav>
