<style>
    .glyphicon {
        margin-right: 5px;
    }

    .thumbnail {
        margin-bottom: 0px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item {
        float: none;
        width: 100%;
        height: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }

    .item.list-group-item:nth-of-type(odd):hover,
    .item.list-group-item:hover {
        background: #428bca;
    }

    .item.list-group-item .list-group-image {
        margin-right: 10px;
    }

    .item.list-group-item .thumbnail {
        margin-bottom: 0px;
    }

    .item.list-group-item .caption {
        padding: 9px 9px 0px 9px;
    }


    .item.list-group-item:before,
    .item.list-group-item:after {
        display: table;
        content: " ";
    }

    .item.list-group-item img {
        float: left;
    }

    .item.list-group-item:after {
        clear: both;
    }

    .list-group-item-text {
        margin: 0 0 11px;
    }

    .col-xs-6,
    .col-lg-6,
    .col-xs-12,
    .col-lg-12 {
        position: relative;
        display: block;
        padding: 7px 7px;
        margin-bottom: -1px;
    }

    .caption {
        box-shadow: 0 15px 15px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 25px;
        background-color: #fff;
        padding: 10px 10px;

    }

    .item {
        margin-bottom: 10px;
    }
</style>


<section class="container" id="boardsec" style=" padding-left: 4px; min-height: 694px;">
    <div class="container" align="center" style="padding-left: 3px;">
        <div style="height:100px;"></div>

        <div class="container" align="center" style="padding-left: 0px;">
            <div class="row" style="text-align: center;" align="center">
                <h1 class="text-primary"
                    style="color: #32446b; font-family: 'Prompt', sans-serif;margin-bottom: 20px;margin-top: 10px; ">
                    ส่วนงานจัดซื้อจัดจ้าง</h1>

                <div id="products" class="row list-group col-xs-12 col-lg-8" style="margin-left: 10px; padding-top: 0px;">
                    <div class="item  col-xs-6 col-lg-6">
                        <div class="caption" style="min-height: 438.45px;">
                            <a target="_blank" class="iconLink text-primary" style="color: #F7D923 ;"><i class="far fa-file"
                                style="height: 70px; width: 220px; margin-bottom: 10px;"></i></a>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 10px ; font-size: 20px; text-align: center;">แบบฟอร์มทั้งหมด
                            </p>
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • สรุปแบบฟอร์มที่ใช้ในการจัดซื้อจัดจ้าง</br>โดยหน่วยงานผู้ใช้งาน
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แบบฟอร์มราคากลาง บก.01-06 </br>ใช้งานสำหรับเชิงพาณิชย์และ พ.ร.บ. ซื้อจ้าง
                            </a></div>
                            
                            <div class="magnifyText" style="margin-bottom: 10px ; display: inline-block;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 30px;">
                                <i class="far fa-file-pdf"></i>
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ; display: inline-block; margin-left: 25px;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 30px;">
                                <i class="far fa-file-word"></i>
                            </a></div>
                            

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แบบฟอร์มต่างๆ </br>ในการจัดซื้อจัดจ้างตาม พ.ร.บ.
                            </a></div>
                            
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แบบฟอร์มต่างๆ ในการจัดซื้อจัดจ้าง</br>ที่เกี่ยวกับการพาณิชย์โดยตรง 
                            </a></div>

                        </div>
                    </div>
                    <div class="item  col-xs-6 col-lg-6">

                        <div class="caption" style="min-height: 438.45px;">
                            <a target="_blank" class="iconLink text-primary" style="color: #F7D923 ;"><i class="fas fa-book"
                                style="height: 70px; width: 220px; margin-bottom: 10px;"></i></a>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 10px ; font-size: 20px; text-align: center;">คู่มือแนวทางและแผนการ
                            </p>
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • คู่มือแนะนำการใช้งาน</br>การประกาศผลผู้ชนะการจัดซื้อจัดจ้าง</br>
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แนวทางการประกาศราคากลางและการคำนวณราคากลางเกี่ยวกับการจัดซื้อ</br>จัดจ้างของหน่วยงานของรัฐ
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แนวทางการปฏิบัติในการจัดหาพัสดุ</br>ตามหนังสือที่ กค(กวจ) 0405.2/ว119
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แผนการจัดซื้อจัดจ้างที่เกี่ยวกับ</br>การพาณิชย์โดยตรง
                            </a></div>
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • หนังสือกรมบัญชีกลางที่ กค 0433.2/ว 206 </br>ลงวันที่ 1 พฤษภาคม 2562
                            </a></div>

                        </div>
                    </div>
                    <div class="item  col-xs-12 col-lg-12">
                        <div class="caption" >
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แบบฟอร์มต่างๆ ในการจัดซื้อจัดจ้างตามพ.ร.บ. (Procurement 00 - 14)
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • แบบฟอร์มต่างๆ ในการจัดซื้อจัดจ้างที่เกี่ยวกับการพาณิชย์โดยตรง (Procurement B0 - B6)
                            </a></div>


                        </div>
                    </div>

                    <div class="item  col-xs-12 col-lg-12">
                        <div class="caption" >
                            <p class="group inner list-group-item-text" style="font-size: 14px;">
                                การจัดซื้อจัดจ้างตาม พ.ร.บ. ได้แก่ การจัดซื้อจัดจ้างหลังมีการจัดตั้งบริษัทหรือบริษัทร่วมทุน (Project Company) </br>หรือการจัดซื้อจัดจ้างพัสดุเพื่อการบริหารงานปกติ เช่น ซื้ออุปกรณ์คอมพิวเตอร์ จ้างที่ปรึกษาเพื่อการบริหารจัดการทั่วไป </br>ใช้คำสั่งบริษัท ที่ <a href="#">ค.15/2560</a> <a href="#">ค.16/2560</a> <a href="#">ค.8/2561</a> โดยได้กำหนดแบบฟอร์มต่าง ๆ ที่ใช้ในการดำเนินงาน ตามแบบฟอร์ม ดังนี้ Procurement 00 - 12

                            </br>การจัดซื้อจัดจ้าง ที่เกี่ยวกับการพาณิชย์โดยตรงของบริษัท ได้แก่ การจัดซื้อจ้างที่อยู่ในช่วงการพัฒนาโครงการ หรือก่อนการจัดตั้ง Project company ให้ถือปฏิบัติตามระเบียบบริษัท <a href="#">ฉบับที่ 9</a> และข้อกำหนดบริษัท <a href="#">ฉบับที่ 2/2561</a> ว่าด้วย การจัดซื้อจัดจ้างที่เกี่ยวกับการพาณิชย์โดยตรง  และแนวทางปฏิบัติงานการจัดซื้อจัดจ้างที่เกี่ยวข้องกับการพานิชย์โดยตรง</p>

                        </div>
                    </div>

                </div>
                <div id="products" class="row list-group col-xs-12 col-lg-4" style="margin-left: 10px;padding-top: 0px;">
                    <div class="item  col-xs-12 col-lg-12" style="text-align: center;">

                        <div class="caption" style="min-height: 735px;">
                            <a target="_blank" class="iconLink text-primary" style="color: #F7D923 ;"><i class="fas fa-ellipsis-h"
                                style="height: 70px; width: 220px; margin-bottom: 0px;"></i></a>
                            <p class="card-text tarstyle"
                                style="margin-bottom: 10px ; font-size: 20px; text-align: center;">อื่นๆ
                            </p>
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • ประกาศรายชื่อผู้ชนะการเสนอราคา</br>(การจัดซื้อจัดจ้างที่เกี่ยวกับการพาณิชย์โดยตรง)
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • รายการสินค้าและราคาซื้อจ้าง
                            </a></div>


                              <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • วัสดุสำนักงานสิ้นเปลือง
                            </a></div>
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • ระเบียบปฎิบัติบริษัท
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • กฎระเบียบข้อบังคับที่เกี่ยวกับการจัดซื้อจัดจ้างภาครัฐ พระราชบัญญัติ(พรบ.)
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • ประกาศจัดซื้อจัดจ้างตาม พ.ร.บ. </br>การจัดซื้อจัดจ้างฯ มาตรา 7
                            </a></div>
                            

                            <!-- picture -->
                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • วิธีการจัดทำรายงานการขอซื้อหรือ</br>ขอจ้างเพื่อใช้งานต่างประเทศ (รูปภาพ)
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • รายการเกี่ยวกับค่าใช้จ่ายใน</br>การบริหารงานของหน่วยงานรัฐ (รูปภาพ)
                            </a></div>

                            <div class="magnifyText" style="margin-bottom: 10px ;"><a target="_blank" href="#" class="card-text tarstyle magnifyText"
                                style=" font-size: 16px;">
                                • วิธีการจัดทำรายงานการขอซื้อหรือ</br>ขอจ้างเกี่ยวกับค่าใช้จ่ายในการบริหารงาน (รูปภาพ)
                            </a></div>
                            <!-- picture -->


                        </div>

                    </div>
                </div>


            </div>
        </div>
    </div>
    </div>
</section>